body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-size: 2em;
    background-color: #363636;
    color: #dddddd;
}

.time-container {
    border: 2px solid #dddddd;
    padding: 20px;
    margin: 10px;
    text-align: center;
    width: 300px;
}

@supports (-webkit-touch-callout: none) {
    body {
        font-size: 3.5em; 
    }
    .element {
        height: 0;
        padding-top: 177.78%; 
    }
}

@supports not (-webkit-touch-callout: none) {
    .element {
        height: 0;
        padding-top: 75%; 
    }
    @media (min-width: 768px) {
        .element {
            padding-top: 56.25%; 
        }
    }
}

@media only screen and (max-width: 600px) {
    .time-container {
        margin: 5px;
        padding: 10px;
    }
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul > li {
    display: block;
    background-color: #474747;
    color: #dddddd;
    border: 2px solid #dddddd;
    margin: 10px;
    padding: 10px;
}

nav ul > li > a {
    color: #ffffff;
}

nav ul li ul {
    display: none;
}

nav ul li:hover ul {
    display: block;
    position: relative;
    top: 0;
    left: 100%;
}
