body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-size: 2em;
    background-color: #363636;
    color: #dddddd;
}

.time-container {
    border: 2px solid #dddddd;
    padding: 20px;
    margin: 10px;
    text-align: center;
    width: 300px;
}

/* CSS for iOS devices */
@supports (-webkit-touch-callout: none) {
    body {
        font-size: 4em; /* 2x the original size */
    }
    .element {
        /* Apply aspect ratio for iOS devices (9:16 vertical) */
        height: 0;
        padding-top: 177.78%; /* 16 / 9 * 100% */
    }
}

/* CSS for other than iOS devices */
@supports not (-webkit-touch-callout: none) {
    .element {
        /* Apply aspect ratio for other devices (4:3 for mobile, 16:9 for desktop) */
        height: 0;
        padding-top: 75%; /* 4 / 3 * 100% for mobile */
    }
    @media (min-width: 768px) {
        .element {
            padding-top: 56.25%; /* 9 / 16 * 100% for desktop */
        }
    }
}
