<!DOCTYPE html>
<html>
<head>
    <title>Current Time</title>
    
    <link rel="stylesheet" type="text/css" href="/static/style.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="/static/main.js"></script>
</head>
<body>
    <nav>
        <ul>
            <li><a href="#USA">USA</a>
                <ul>
                    <li><div id="US-Pacific"></div></li>
                    <li><div id="US-Mountain"></div></li>
                    <li><div id="US-Central"></div></li>
                    <li><div id="US-Eastern"></div></li>
                </ul>
            </li>
            <li><a href="#Oceania">World</a>
                <ul>
                    <li><div id="ustralia-Auckland"></div></li>
                    <li><div id="Oceania-Melbourne"></div></li>
                    <li><div id="Oceania-Sydney"></div></li>
                    <li><div id="Oceania-Darwin"></div></li>
                    <li><div id="Oceania-Perth"></div></li>
                </ul>
            </li>
            <li><a= href="Asia">Asia</a>
                <ul>
                    <li><div id="Asia-Seoul"></div></li>  
                    <li><div id="Asia-Shanghai"></div></li> 
                    <li><div id="Asia-Beijing"></div></li> 
                    <li><div id="Asia-Jerusalem"></div></li> 
                    <li><div id="Asia-Singapore"></div></li> 
                    <li><div id="Asia-Bangkok"></div></li> 
                    <li><div id="Asia-Tokyo"></div></li>
                    <li><div id="Asia-Suva"></div></li>
            </li>
            <li><a= href="Europe">Europe</a>
                <ul>
                    <li><div id="Europe-Berlin"></div></li>  
                    <li><div id="Europe-Moscow"></div></li>  
                    <li><div id="Europe-Rome"></div></li>  
                    <li><div id="Europe-Kiev"></div></li> 
                    <li><div id="Europe-Zurich"></div></li>   
                    <li><div id="Europe-Madrid"></div></li>   
                    <li><div id="Europe-Seoul"></div></li>  
                    <li><div id="Europe-Lisbon"></div></li>  
                    <li><div id="Europe-Paris"></div></li>  
                    <li><div id="Europe-London"></div></li>  
        </ul>
    </nav>
</body>
</html>
