<!DOCTYPE html>
<html>
<head>
    <title>Current Time</title>
    
    <link rel="stylesheet" type="text/css" href="/static/style.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="/static/main.js"></script>
</head>
<body>
    <nav>
        <ul>
            <li><a href="#USA">USA</a>
                <ul>
                    <li><div id="US-Pacific"></div></li>
                    <li><div id="US-Mountain"></div></li>
                    <li><div id="US-Central"></div></li>
                    <li><div id="US-Eastern"></div></li>
                </ul>
            </li>
            <li><a href="#World">World</a>
                <ul>
                    <li><div id="Europe-Lisbon"></div></li>
                    <li><div id="Europe-London"></div></li>
                    <li><div id="Europe-Paris"></div></li>
                    <li><div id="Africa-Cairo"></div></li>
                    <li><div id="Asia-Tokyo"></div></li>
                </ul>
            </li>
        </ul>
    </nav>
</body>
</html>
