<!DOCTYPE html>
<html>
<head>
    <title>Current Time</title>
    
    <link rel="stylesheet" type="text/css" href="/static/style.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="/static/main.js"></script>
</head>
<body>
    <div class="time-container">
        <div id="US/Pacific"></div>
    </div>
    <div class="time-container">
        <div id="US/Mountain"></div>
    </div>
    <div class="time-container">
        <div id="US/Central"></div>
    </div>
    <div class="time-container">
        <div id="US/Eastern"></div>
    </div>
    <div class="time-container">
        <div id="UTC"></div>
    </div>
</body>
</html>
